# Discord Token (รองรับหลาย Token โดยคั่นด้วยเครื่องหมายจุลภาค ,)
TOKEN=ใส่_DISCORD_USER_TOKEN_ที่นี่

# Channel ID (รองรับหลาย ID โดยคั่นด้วยเครื่องหมายจุลภาค ,)
CHANNEL_ID=ใส่_VOICE_CHANNEL_ID_ที่นี่

# การตั้งค่าเปิด/ปิดไมค์และหูฟัง (true / false)
SELF_DEAF=true
SELF_MUTE=true
